@import "../Particles/mixins";
@import "../Particles/typography";

.security {
  display: flex;
  gap: 35px;
  align-items: center;

  &__data {
    width: 100%;

    h1 {
      @include font-properties(42px, $font-bold, $font-sans);
    }

    p {
      margin: 30px 0px;
    }
  }

  &__img {
    width: 100%;

    .image {
      width: 90%;
      border: 1px solid black;
      padding: 8px 5px;
      border-radius: 5px;

      img {
        width: 100%;
      }
    }
  }
}
